Construccion/PROYECTO.SICC/MARE-CONF/mare/mare-conf/reportes/sourcefiles/schemas/ReportView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Uno (ORiON) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ParameterValues">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="ParameterValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="FilterDefinitionName" type="xsd:string" use="required"/>
						<xsd:attribute name="FilterParameter" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:NMTOKEN">
									<xsd:enumeration value="FROM"/>
									<xsd:enumeration value="TO"/>
									<xsd:enumeration value="VALUE"/>
									<xsd:enumeration value="VALUES"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="DefaultValue" type="xsd:string" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportView">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="DimensionProperties" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="DimensionProperty" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ExcludeValue" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="Value" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="DimensionName" type="xsd:string" use="required"/>
									<xsd:attribute name="Width" type="xsd:int" use="optional"/>
									<xsd:attribute name="Location" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="PAGE"/>
												<xsd:enumeration value="COLUMN"/>
												<xsd:enumeration value="ROW"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="Order" use="optional">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="A"/>
												<xsd:enumeration value="D"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="Ubication" type="xsd:integer" use="optional"/>
									<xsd:attribute name="RankMetricName" type="xsd:string" use="optional"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MetricProperties" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="MetricProperty" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="MetricName" type="xsd:string" use="required"/>
									<xsd:attribute name="Visible" type="xsd:boolean" use="optional" default="true"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LightBoxer" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="LightBoxDefinition" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="MetricName" type="xsd:string" use="required"/>
									<xsd:attribute name="Type" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="RANGE"/>
												<xsd:enumeration value="GREATERTHAN"/>
												<xsd:enumeration value="GREATEREQUALTHAN"/>
												<xsd:enumeration value="LESSTHAN"/>
												<xsd:enumeration value="LESSEQUALTHAN"/>
												<xsd:enumeration value="EQUAL"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="Parameter" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="FROM"/>
												<xsd:enumeration value="TO"/>
												<xsd:enumeration value="VALUE"/>
												<xsd:enumeration value="VALUES"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="ColorRed" type="xsd:integer" use="required"/>
									<xsd:attribute name="ColorGreen" type="xsd:integer" use="required"/>
									<xsd:attribute name="ColorBlue" type="xsd:integer" use="required"/>
									<xsd:attribute name="Value" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Id" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="optional"/>
			<xsd:attribute name="ReportDefinitionId" type="xsd:string" use="required"/>
			<xsd:attribute name="UserID" type="xsd:string" use="required"/>
			<xsd:attribute name="UserName" type="xsd:string" use="required"/>
			<xsd:attribute name="ReportLayout" type="xsd:string" use="optional"/>
			<xsd:attribute name="VisibleTotals" type="xsd:boolean" use="optional" default="true"/>
			<xsd:attribute name="Default" type="xsd:boolean" use="optional" default="false"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
