Construccion/PROYECTO.SICC/MARE-CONF/mare/mare-conf/reportes/sourcefiles/schemas/ReportDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by a (a) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ActionDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="required"/>
			<xsd:attribute name="Expression" type="xsd:string" use="optional"/>
			<xsd:attribute name="Metric" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ActionDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ActionDefinition" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DimensionDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="optional"/>
			<xsd:attribute name="Location" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="PAGE"/>
						<xsd:enumeration value="ROW"/>
						<xsd:enumeration value="COLUMN"/>
						<xsd:enumeration value="HIDDEN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Groups" type="xsd:boolean" use="optional"/>
			<xsd:attribute name="GroupFooterCaption" type="xsd:string" use="optional"/>
			<xsd:attribute name="Order" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="RankMetricName" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DimensionDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DimensionDefinition" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MetricDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="optional"/>
			<xsd:attribute name="Visible" type="xsd:boolean" use="required"/>
			<xsd:attribute name="Accumulable" type="xsd:boolean" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MetricDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MetricDefinition" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="DimensionName" type="xsd:string" use="required"/>
			<xsd:attribute name="DataType" type="ReportDataType" use="optional"/>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="RANGE"/>
						<xsd:enumeration value="GREATERTHAN"/>
						<xsd:enumeration value="LESSTHAN"/>
						<xsd:enumeration value="EQUALTO"/>
						<xsd:enumeration value="BEGINWITH"/>
						<xsd:enumeration value="ENDWITH"/>
						<xsd:enumeration value="INCLUDES"/>
						<xsd:enumeration value="RANKING"/>
						<xsd:enumeration value="IN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Visual" type="xsd:boolean" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FilterDefinition" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ParameterValues">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ParameterValue" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="FilterDefinitionName" type="xsd:string" use="required"/>
						<xsd:attribute name="FilterParameter" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:NMTOKEN">
									<xsd:enumeration value="FROM"/>
									<xsd:enumeration value="TO"/>
									<xsd:enumeration value="VALUE"/>
									<xsd:enumeration value="VALUES"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="DefaultValue" type="xsd:string" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportDefinition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Roles"/>
				<xsd:element ref="DimensionDefinitions"/>
				<xsd:element ref="MetricDefinitions"/>
				<xsd:element ref="ActionDefinitions" minOccurs="0"/>
				<xsd:element ref="FilterDefinitions" minOccurs="0"/>
				<xsd:element ref="ParameterValues" minOccurs="0"/>
				<xsd:element name="Localizations" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="Localization" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Literals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="Code" type="xsd:string" use="required"/>
												<xsd:attribute name="Value" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Locale" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DrillDownDefinitions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="DrillDownDefinition" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ParameterBind" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="SourceFilterName" type="xsd:string" use="required"/>
												<xsd:attribute name="SourceParameterName" type="xsd:string" use="required"/>
												<xsd:attribute name="TargetFilterName" type="xsd:string" use="required"/>
												<xsd:attribute name="TargetParameterName" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DimensionBind" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="SourceDimensionName" type="xsd:string" use="required"/>
												<xsd:attribute name="TargetFilterName" type="xsd:string" use="required"/>
												<xsd:attribute name="TargetParameterName" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Name" type="xsd:string" use="required"/>
									<xsd:attribute name="Description" type="xsd:string" use="required"/>
									<xsd:attribute name="TargetReportDefinitionID" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Id" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="required"/>
			<xsd:attribute name="ReportSource" type="xsd:string" use="required"/>
			<xsd:attribute name="Entity" type="xsd:string" use="required"/>
			<xsd:attribute name="IsTransient" type="xsd:boolean" use="required"/>
			<xsd:attribute name="ReportType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="CUBE"/>
						<xsd:enumeration value="CHARTCUBE"/>
						<xsd:enumeration value="ACCUM"/>
						<xsd:enumeration value="GROUP"/>
						<xsd:enumeration value="STATICSQL"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Title" type="xsd:string" use="required"/>
			<xsd:attribute name="PageHeding" type="xsd:string" use="optional"/>
			<xsd:attribute name="PageFooter" type="xsd:string" use="optional"/>
			<xsd:attribute name="Multilanguage" type="xsd:boolean" use="optional" default="false"/>
			<xsd:attribute name="MaxRowsDimensionReference" type="xsd:string" use="optional"/>
			<xsd:attribute name="MaxRowCount" type="xsd:integer" use="optional"/>
			<xsd:attribute name="VisibleTotals" type="xsd:boolean" use="optional" default="true"/>
			<xsd:attribute name="LayoutDesign" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Rol">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Roles">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Rol" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="ReportDataType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="DATE"/>
			<xsd:enumeration value="DATETIME"/>
			<xsd:enumeration value="STRING"/>
			<xsd:enumeration value="FLOAT"/>
			<xsd:enumeration value="INTEGER"/>
			<xsd:enumeration value="BOOLEAN"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
