Construccion/PROYECTO.SICC/MARE-CONF/mare/mare-conf/reportes/sourcefiles/schemas/ReportSourceDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by a (a) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DataSourceDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="SourceType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="SQL"/>
						<xsd:enumeration value="XML"/>
						<xsd:enumeration value="BDLQL"/>
						<xsd:enumeration value="EXT"/>
						<xsd:enumeration value="OQL"/>
						<xsd:enumeration value="CALC"/>
						<xsd:enumeration value="EXCEL"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Expression" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalClassName" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalSourceData" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionString" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionClassName" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionLocalUrl" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionDistributedUrl" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionUser" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalConnectionPassword" type="xsd:string" use="optional"/>
			<xsd:attribute name="DatePattern" type="xsd:string" use="optional"/>
			<xsd:attribute name="DateTimePattern" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataSourceDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DataSourceDefinition" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DimensionSourceDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="required"/>
			<xsd:attribute name="DataType" use="required" type="ReportDataType"/>
			<xsd:attribute name="Calculated" type="xsd:boolean" use="optional"/>
			<xsd:attribute name="Expression" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalData" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DimensionSourceDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DimensionSourceDefinition" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MetricSourceDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MetricSourceDefinition" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ParameterValue">
		<xsd:complexType>
			<xsd:attribute name="DefaultValue" type="xsd:string" use="required"/>
			<xsd:attribute name="FilterDefinitionName" type="xsd:string" use="required"/>
			<xsd:attribute name="FilterParameter" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="FROM"/>
						<xsd:enumeration value="TO"/>
						<xsd:enumeration value="VALUE"/>
						<xsd:enumeration value="VALUES"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="DimensionName" type="xsd:string" use="optional"/>
			<xsd:attribute name="DataType" use="optional" type="ReportDataType">
			</xsd:attribute>
			<xsd:attribute name="FilterType" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="RANGE"/>
						<xsd:enumeration value="GREATERTHAN"/>
						<xsd:enumeration value="LESSTHAN"/>
						<xsd:enumeration value="EQUALTO"/>
						<xsd:enumeration value="BEGINWITH"/>
						<xsd:enumeration value="ENDWITH"/>
						<xsd:enumeration value="INCLUDES"/>
						<xsd:enumeration value="RANKING"/>
						<xsd:enumeration value="IN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Visual" type="xsd:boolean" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FilterDefinitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FilterDefinition" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ParameterValues">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ParameterValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReportSourceDefinition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DimensionSourceDefinitions"/>
				<xsd:element ref="MetricSourceDefinitions"/>
				<xsd:element ref="FilterDefinitions" minOccurs="0"/>
				<xsd:element ref="DataSourceDefinitions"/>
				<xsd:element ref="ParameterValues" minOccurs="0"/>
				<xsd:element name="Localizations" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="Localization" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="Literals" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:attribute name="Code" type="xsd:string" use="required"/>
												<xsd:attribute name="Value" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Locale" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Id" type="xsd:string" use="required"/>
			<xsd:attribute name="Cached" type="xsd:boolean" use="required"/>
			<xsd:attribute name="Expiration" type="xsd:decimal" use="optional"/>
			<xsd:attribute name="IncrementalDimension" type="xsd:string" use="optional"/>
			<xsd:attribute name="Multilanguage" type="xsd:boolean" use="optional" default="false"/>
			<xsd:attribute name="MaxRowsDimensionReference" type="xsd:string" use="optional"/>
			<xsd:attribute name="MaxRowCount" type="xsd:integer" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MetricSourceDefinition">
		<xsd:complexType>
			<xsd:attribute name="Name" type="xsd:string" use="required"/>
			<xsd:attribute name="Description" type="xsd:string" use="required"/>
			<xsd:attribute name="AggregateType" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="SUM"/>
						<xsd:enumeration value="COUNT"/>
						<xsd:enumeration value="AVERAGE"/>
						<xsd:enumeration value="MAX"/>
						<xsd:enumeration value="MIN"/>
						<xsd:enumeration value="CALCULATED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GroupFooterType" use="optional">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="NONE"/>
						<xsd:enumeration value="SUM"/>
						<xsd:enumeration value="AVERAGE"/>
						<xsd:enumeration value="COUNT"/>
						<xsd:enumeration value="CALCULATED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Calculated" type="xsd:boolean" use="optional"/>
			<xsd:attribute name="AggregateFunction" type="xsd:string" use="optional"/>
			<xsd:attribute name="GroupFooterFunction" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalData" type="xsd:string" use="optional"/>
			<xsd:attribute name="ExternalCalculated" type="xsd:boolean" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="ReportDataType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="DATE"/>
			<xsd:enumeration value="DATETIME"/>
			<xsd:enumeration value="STRING"/>
			<xsd:enumeration value="FLOAT"/>
			<xsd:enumeration value="INTEGER"/>
			<xsd:enumeration value="BOOLEAN"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
